<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <title>Superhero Sightings</title>
  </head>
  <body>
    <!-- Main Body of Page -->
    
        <div class="container">
            <div class="row m-4">
                <div class="col text-center border border-dark">
                    <h1><a href="/" class="text-dark">Superhero Sightings</a></h1>
                </div>
            </div>
            <div class="row m-4 border border-dark">
                <div class="col-sm text-center m-3">
                    <a href="index" class="btn btn-outline-primary btn-lg">Home</a>
                </div>
                <div class="col-sm text-center m-3">
                    <a href="supers" class="btn btn-outline-primary btn-lg">SuperHero</a>
                </div>
                <div class="col-sm text-center m-3">
                    <a href="powers" class="btn btn-outline-primary btn-lg">SuperPowers</a>
                </div>
                <div class="col-sm text-center m-3">
                    <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
                </div>
                <div class="col-sm text-center m-3">
                    <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
                </div>
                <div class="col-sm text-center m-3">
                    <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
                </div>
            </div>
            <div class="row m-4 border border-dark">
                <div class="col m-1">
                    <div class="row m-4">
                        <div class="col m-3 text-center">
                            <span class="h2">Latest Sightings</span>
                        </div>
                    </div>
                    <div class="row m-4">
                        <div class="col text-center m-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Date</th>
                                        <th>SuperHero</th>
                                        <th>Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="sighting,iter : ${lastTenSightings}" th:unless="${iter.index > 9}">
                                        <span type="hidden" th:attr="class='latitude'+${iter.index},data-latitude=''+${sighting.location.latitude}"></span>
                                        <span type="hidden" th:attr="class='longitude'+${iter.index},data-longitude=''+${sighting.location.longitude}"></span>
                                        <td th:text="${sighting.id}">ID</td>
                                        <td th:text="${#temporals.format(sighting.date, 'MM/dd/yyyy')}">Date</td>
                                        <td th:text="${sighting.superhero.name}">Super</td>
                                        <td th:text="${sighting.location.name.isEmpty()} ? ${sighting.location.address} : ${sighting.location.name}">Location</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                            <div class="col-sm-8" id="googleMap">
                    <!--The div element for the map -->
                    <div id="map" style="width: 150%; height: 500px"></div>
                </div>
     </div>
        </div>
 
    <!-- End main body -->
     <!-- Optional JavaScript -->
    <script type="text/javascript" th:inline="javascript">
        function initMap(){
            var map = new google.maps.Map(document.getElementById("map"),{
		center: { lat: 43.652, lng: -79.326}, 
                zoom: 2,
                });
                var lastTenSightings = [[${lastTenSightings}]]
                var i,marker;
                for( i = 0;i < lastTenSightings.length; i++){
                    var latitude = parseFloat(lastTenSightings[i].location.latitude);
                    var longitude = parseFloat(lastTenSightings[i].location.longitude);
                    var coords = {lat: latitude, lng: longitude};
                    marker = new google.maps.Marker({
			position: new google.maps.LatLng(coords),
			map: map,
			});
                        }
        }
        window.initMap = initMap;
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8cywhME34LAbgfCc_kPOeV0R8lVNF74Y&callback=initMap&v=weekly" defer></script>
  </body>
</html>